<!DOCTYPE html>
<html>
	<head>
		<title>De Canvascrack</title>
	
		<link href="/static/css/style.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/static/css/all.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,550,600' rel='stylesheet' type='text/css'>

		<script src="/static/js/socket.io.js"></script>

		<script src="/static/js/socket.io.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="charset" content="UTF-8">
	</head>
	<body>
		{% block content %}
		{% endblock %}
	</body>

	<script src="/static/js/gameshow.js"></script>
	<script src="/static/js/canvascrack.js"></script>
</html>