{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
	gameMode = "{{ game_mode }}";
</script>
<div class="container" id="game">
	{% if game_mode == "presenter" %}
	<a class="button yellow float host" id="button_advance">&gt;</a>
	{% elif game_mode == "crack" %}
	<div id="crackpanel">
		<a class="button yellow" id="button_follow">Volgen</a>
		<a class="button yellow" id="button_no_follow">Niet volgen</a>
	</div>
	{% endif %}
	<div class="row top">
		top
	</div>
	<div class="row justify-content-center mb-2">
		<div class="yellow question box">
			<span id="question_no" class="no">??</span> <span id="question">question</span>
		</div>
	</div>
	<div class="row no-gutters bottom pb-3">
		<div class="col-2 p-0 score review">
			<div id="challenger_score"></div>
		</div>
		<div class="col-7 answers">
			<a id="question_option_0" class="yellow box answer">A: <span id="question_option_inner_0"></span></a>
			<a id="question_option_1" class="yellow box answer">B: <span id="question_option_inner_1"></span></a>
			<a id="question_option_2" class="yellow box answer">C: <span id="question_option_inner_2"></span></a>
		</div>
		<div class="col-1 px-2 text-center following review">
			<div id="question_crack_response_0" class="yellow box response">&nbsp;</div>
			<div id="question_crack_response_1" class="yellow box response">&nbsp;</div>
			<div id="question_crack_response_2" class="yellow box response">&nbsp;</div>
		</div>
		<div class="col-2 p-0 score review">
			<div id="crack_score"></div>
		</div>
	</div>
</div>
{% endblock %}